nav {
  background-color: #333;
  display: flex;

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  a:hover {
    color: #5c5a5a;
  }
}

.site-link {
  position: relative;
  left: 100px;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 100px;
}
